*:focus {
    outline: 0.5px solid #fff;
}
a:hover {
  opacity: 0.8;
  transition: all 1s linear;
}

body {
  margin: auto;
  font-family: 'Muli', 'Roboto';
}
.header {
  height: 100vh;
  background: url(assets/images/heder-bg.jpg) center;
  background-size: cover;
  margin-bottom: 98px;
}
.header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 69px 100px 0;
  position: relative;
  margin-bottom: 105px;
}
.header-menu__list {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.mein-menu__list-item {
  margin-right: 35px;
}
.mein-menu__list-item:last-child {
  margin-right: 0;
}
.mein-menu__link{
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: 0.32px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.mein-menu__link:hover {
  transform: scale(1.2);
}
.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header__personal {
  display: flex;
}
.header__user{
  display: flex;
  justify-content: end;
  align-items:center;
}
.header__user::after {
  content: "";
  background-image: url(assets/images/header-line.png);
  display: block;
  width: 47px;
  height: 2px;
  margin: 3px 41px 16px 33px;
  background-color: #ffd68f;
}
.header__user-link:first-child {
  margin-right: 47px;
}
.header__user-link:nth-child(2) {
  margin-right: 45px;
}
.header__user-link:last-child{
  position: relative;
}
.header__user-icon--span{
  position: absolute;
  top: -8px;
  left: 22px;
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  font-size: 10px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 3px;
}
.header__social {
  display: flex;
  align-items: center
}
.header__social-link {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.header__social-icon{
  background-color: #fff;
  border-radius:50%;
}
.header__content {
  display: flex;
  justify-content: center;
}
.btn {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.67;
  letter-spacing: -0.48px;
  color: #fff;
  border-radius: 35px;
  background-color: #0aa566;
}
.btn:hover {
  border: 2px solid #00ffff83;
}
.header__btn {
  padding: 18px 39px;
}
.btn::after{
  content: url(assets/images/arrow.png);
  padding-left: 55px;
}

.smoothie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 137px;
}
.title {
  font-size: 50px;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -1px;
  color: #f7ae3b;
}
.smoothie__title {
  margin: 0 0 40px;
}
.smoothie__text {
  max-width: 915px;
  text-align: center;
  padding-bottom: 40px;
}
.text {
  color: #1e1e1e;
  font-size: 18px;
  line-height: 1.94;
}

.smoothie__features {
  display: flex;
  flex-wrap: wrap;
}
.smoothie__feature {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}
.smoothie__feature:nth-child(-n+4) {
  border-bottom: 2px solid #f6edde;
}
.smoothie__feature {
  border-right: 2px solid #f6edde;
}
.smoothie__feature:nth-child(4) {
  border-right: 0;
}
.smoothie__feature:last-child {
  border-right: 0;
}
.smoothie__feature-image{
  padding-top: 40px;
  margin-bottom: 9px;
}
.smoothie__feature-title {
  font-size: 25px;
  font-weight: 800;
  line-height: 1.6;
  letter-spacing: -0.5px;
  color: #f2612d;
  margin-bottom: 20px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  background-color: #14826f;
}
.about__img-wrapper {
  flex-basis: 50%;
}
.about__img {
  position: relative;
  top: 57px;
  left: 128px;
}
.about__content {
  max-width: 650px;
  padding: 89px 0 112px;
  text-align: left;
}
.about__title {
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -1.1px;
  color: #ffffff;
  margin-bottom: 58px;
}
.about__title--green {
  color: #cae941;
  position: relative;
}
.about__title--green::after {
  content: url(assets/images/line.png);
  position: absolute;
  top: 23px;
  left: 0;
}
.about__list{
  padding-left: 30px;
  margin-bottom: 25px;
}
.about__item {
  list-style: none;
  list-style-image: url(assets/images/items-img.png);
  font-size: 21px;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: normal;
  color: #fff;
  padding-bottom: 23px;
}
.about__item--bold{
  font-weight:800;
}
.content__btn {
  padding: 14px 26px;
  border-radius: 30px;
  border: solid 2px #f8b231;
  background: transparent;
  margin-left: 53px;
  font-size: 21px;
  font-weight: 800;
  line-height: 1.05;
}

.products {
  display: flex;
  overflow-x: auto;
  width: 100%;
}
.products__product{
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 129px 0 79px;
  color: #ffffff;
}
.products__product:first-child {
  background-color:#632b17;
}
.products__product:nth-child(2) {
  background-color:#178670;
}
.products__product:nth-child(3) {
  background-color: #f7ae3b;
}
.products__product:last-child {
  background-color: #c3471b;
}
.products__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 0.92;
}
.products__text {
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  line-height: 0.92;
  padding: 21px 0 65px;
}
.products__btn {
  font-size: 21px;
  padding: 9px 35px;
  border-radius: 30px;
  border: solid 2px #fff;
  background: transparent;
}
.products__btn::after {
  content: url(assets/images/arrow-white.png);
  padding-left: 64px;
}

.story {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 120px 0 160px;
}
.story__content {
  flex-basis: 520px;
  margin-right: 206px;
}
.story__title {
  margin-bottom: 43px;
}
.story__text {
  padding-bottom: 50px;
}
.story__btn {
  padding: 14px 45px;
  font-size: 21px;
  font-weight: 800;
  line-height: 1.05;
}
.story__img-wrap {
  position: relative;
}
.story__img-wrap::before {
  content:url(assets/images/stamp.png);
  position: absolute;
  top: 2%;
  left: -30%;
}

.testimonials{
  background-color:#672f1b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 117px 0 80px;
  position: relative;
}

.testimonials::before {
  content: "";
  display: inline-block;
  background-image: url(assets/images/dots1.png);
  background-size: cover;
  position: absolute;
  top: -93px;
  right: 38px;
  width: 410px;
  height: 301px;
}
.testimonials__title{
  margin-bottom: 118px;
}
.testimonials__title--big{
  text-transform: uppercase;
  color: #f2612d;
}
.testimonials__slider {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
   margin-bottom: 130px;
}
.testimonials__quote {
  display: flex;
  flex-basis: 515px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding-top: 65px;
  margin-right: 15px;
}
.testimonials__quote-text {
  font-size: 18px;
  line-height: 1.94;
  color: #fff;
  text-align: center;
  position: relative;
}
.testimonials__quote-text::before {
  content: "Sarah-A";
  width: max-content;
  opacity: 0.6;
  font-size: 200px;
  font-weight: 800;
  line-height: 0.2;
  letter-spacing: -4px;
  text-align: left;
  color: rgba(82, 25, 5, 0.6);
  z-index: 1;
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);
}
.testimonials__quote-cite {
  font-size: 18px;
  font-weight: 600;
  line-height: 2.5;
  color: #f7ae3b;
  font-style: italic;
}
.testimonials__quote-cite::before {
content: "-";
color: #f7ae3b;
padding-right: 2px;
}
.testimonials__quote-avatar {
  width: 220px;
  height: 218px;
  z-index: 2;
}
.testimonials__arrow-left {
  margin-right: 98px;
}
.testimonials__arrow-right {
  transform: rotate(180deg);
}

.blog {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.blog__container {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 80px 0;
}
.blog__title {
  align-self: start;
  margin-bottom: 48px;
}
.blog__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.blog__picture {
  max-width: 555px;
}
.blog__post {
  align-self: center;
  max-width:  687px;
}
.blog__post::before {
  content: url(assets/images/line-blog.png);
  width: 687px;
}
.blog__post-title {
font-size: 30px;
font-weight: 800;
line-height: 1.33;
letter-spacing: -0.6px;
color: #f2612d;
text-align: center;
padding-top: 45px;
}
.blog__date {
  font-size: 16px;
  line-height: 2.19;
  letter-spacing: normal;
  text-align: center;
  margin-left: 74px;
}
.blog__text {
  padding-top: 25px;
  font-weight: 800;
  font-style: italic;
  text-align: left;
}
.blog__link {
  font-weight: 800;
  font-style: italic;
  color: #1e1e1e;
}
.blog__link::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  background-image: url(assets/images/arrow.png);
  background-size:cover;
  margin-left: 12px;
}

.instagram {
  display: flex;
  flex-direction: column;
  align-items:center;
}
.instagram__link {
  display: flex;
  align-items:center;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.67;
  letter-spacing: -0.48px;
  color: #0aa566;
  margin-bottom: 45px;
}
.instagram__icon {
  width: 26px;
  margin-right: 12px;
}
.instagram__gallery {
  display: flex;
  overflow-x: auto;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}
.instagram__photo {
  position: relative;
}
.instagram__img {
  height: 100%;
}
.instagram__photo::before{
  content: "";
  display: block;
  background-image: url(assets/images/footer-instagram.png);
  background-repeat: no-repeat;
  background-size: unset;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px;
}
.instagram__photo::after {
content: "";
display: block;
background-image: url(assets/images/shadow.png);
background-repeat: no-repeat;
background-size: cover;
position: absolute;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:#f6ab3b;
  padding: 70px 100px 69px;
}
.footer__logo {
  align-self: center;
  padding-bottom: 30px;
  margin-right: 128px;
}
.footer__title {
  font-size: 26px;
  font-weight: 800;
  line-height: 1.54;
  letter-spacing: -0.52px;
  text-align: left;
  color: #fff;
  margin-bottom: 15px;
}
.footer__list{
  list-style: none;
  padding-left: 0;
}
.information__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.94;
  letter-spacing: -0.36px;
  text-align: left;
  color: #6d450c;
}
.footer__payment-wrapper {
  display: flex;
  max-width: 250px;
  flex-wrap: wrap;
}
.footer__payment-icon {
  margin: 0 16px 27px 0;
  align-self: center;
}
.footer__contact {
  position: relative;
}
.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__input {
  width: 495px;
  height: 60px;
  padding: 21px 218px 20px 23px;
  border-radius: 30px;
}
.footer__input:hover {
  box-shadow: 0px 5px 10px 2px rgba(255, 0, 0, 0.26);
  cursor: pointer;
}
.footer__input:focus {
  border: 2px solid #b74949;
  outline: 1px solid transparent;
}

.footer__input[placeholder] {
  font-size: 17px;
  font-weight: bold;
  line-height: 2.06;
  letter-spacing: -0.34px;
  text-align: left;
  color: #6d450c;
  padding-left: 65px;
  background: #fff url(assets/images/input-icon.png) no-repeat;
  background-position: 25px center;
}

.footer__button {
  font-size: 18px;
  font-weight: 800;
  line-height: 2.22;
  letter-spacing: -0.36px;
  text-align: left;
  color: #6d450c;
  background: transparent;
  text-transform: uppercase;
  padding: 19px 0;
  width: 129px;
  align-self: center;
  position: relative;
}
.footer__button::before {
  content: "";
  background-image: url(assets/images/arrow-footer.png);
  background-size: cover;
  display: block;
  width: 48px;
  height: 43px;
  position: absolute;
  top: 8px;
  left: -66px;
}

.footer__social {
  position: absolute;
  right: 23px;
  bottom: 25%;
}
.footer__social-link {
  margin-right: 20px;
}

.footer__bottom {
  background-color: #6c2c1c;
  text-align: center;
  padding: 8px 0;
}
.footer__bottom-text {
  font-size: 13px;
  line-height: 2.69;
  letter-spacing: 0.26px;
  text-align: center;
  color: #af8a82;
}
.footer__btn {
  position: fixed;
  bottom: 17px;
  right: 190px;
}
.footer__btn-text{
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: -0.32px;
  color: #fff;
}
.footer__btn-link {
  position: absolute;
  bottom: 12px;
  left: 56px;
}
.footer__btn-arrow {
  padding: 14px 19px 11px 18px;
  border-radius: 5px;
  background-color: #f2662f;
}

