* {
  border: 1px solid rgb(52, 255, 45);
}
body {
  width: 1920px;
  margin: 0 auto;
}
.header {
  height: 100vh;
  background: url(assets/images/heder-bg.jpg) center;
  background-size: cover;
  margin-bottom: 98px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 69px;
  position: relative;
  margin-bottom: 105px;
  margin-right: 100px;
  margin-left: 100px;
}
.header-menu__list {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.mein-menu__list-item {
  margin-right: 35px;
}
.mein-menu__list-item:last-child {
  margin-right: 0;
}
.mein-menu__link{
  font-family: 'Muli';
  font-size: 16px;
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: 0.32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header__personal {
  display: flex;
}
.header__user{
  display: flex;
  justify-content: end;
  align-items:center;
}
.header__user::after {
  content: "";
  display: block;
  width: 47px;
  height: 2px;
  margin: 3px 41px 16px 33px;
  background-color: #ffd68f;
}
.header__user-link:first-child {
  margin-right: 47px;
}
.header__user-link:nth-child(2) {
  margin-right: 45px;
}
.header__user-link:last-child{
  position: relative;
}
.header__user-icon--span{
  position: absolute;
  top: -11px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  font-family: Muli;
  font-size: 10px;
}

.header__social {
  display: flex;
  align-items: center
}
.header__social-link {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.header__social-icon{
  background-color: #ffffff;
  border-radius:50%;
}
.header__content {
  display: flex;
  justify-content: center;
}
.btn {
  font-family: 'Muli';
  font-size: 24px;
  font-weight: 800;
  line-height: 1.67;
  letter-spacing: -0.48px;
  color: #ffffff;
  border-radius: 35px;
  background-color: #0aa566;
}
.header__btn {
  padding: 18px 39px;
}
.btn::after{
  content: url(assets/images/arrow.png);
  padding-left: 55px;
}

.smoothie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 107px;
}
.title {
  font-family: 'Muli';
  font-size: 50px;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -1px;
  color: #f7ae3b;
}
.smoothie__title {
  margin: 0 0 40px;
}
.smoothie__text {
  max-width: 915px;
  font-size: 18px;
  line-height: 1.94;
  letter-spacing: normal;  
  text-align: center;
  padding-bottom: 40px;
}
.text {
  font-family: 'Muli';
  color: #1e1e1e;
  margin: 0 auto;
}
.smoothie__features {
  max-width: 1010px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.smoothie__feature {
  flex-basis: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.smoothie__feature:nth-child(-n+4) {
  border-bottom: 2px solid #f6edde;
}
.smoothie__feature {
  border-right: 2px solid #f6edde;
}
.smoothie__feature:nth-child(4) {
  border-right: 0;
}
.smoothie__feature:last-child {
  border-right: 0;
}
.smoothie__feature-image{
  padding-top: 30px;
  padding: 34px 37px 0px 0;
}
.smoothie__feature-title {
  font-family: Muli;
  font-size: 25px;
  font-weight: 800;
  line-height: 1.6;
  letter-spacing: -0.5px;
  color: #f2612d;
  padding: 20px 0;
}

.about {
  display: flex;
  background-color: #14826f;
  align-items:center;
}
.about__img-wrapper {
  width: 691px;
  height: 818px;
  flex-basis: 48%;
  position: relative;
}
.about__img {
  position: absolute;
  top: 57px;
  left: 132px;
}
.about__content {
max-width: 600px;
padding: 97px 0;
}
.about__list {
  margin-bottom: 50px;
}
.about__title {
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -1.1px;
  color: #ffffff;
  margin-bottom: 58px;
  padding: 0;
}
.about__title--green {
  color: #cae941;
  position: relative;
}
.about__title--green::after {
  content: url(/assets/images/line.png);
  position: absolute;
  top: 23px;
  left: 0;
}
.about__item {
  list-style: none;
  font-family: Muli;
  font-size: 21px;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: normal;
  color: #ffffff;
  padding-bottom: 21px;
}
.about__item--bold{
  font-weight:800;
}
.about__item::before {
  content: url(/assets/images/items-img.png);
  width: 18px;
  margin-right: 19px;
}
.content__btn {
  padding: 21px 39px 18px 29px;
  border-radius: 30px;
  border: solid 2px #f8b231;
  background: transparent;
}